.pt_section {
    text-align: center;
    color: #666666;
    margin-top: 20px;
}

.pt_preface {
    font-size: 14px;
    text-indent:28px
}

.pt_content {
    font-size: 14px;
    text-indent:28px
}

.pt_small_title {
    font-size: 16px;
    color: #333333;
}

.pt_small_footer {    
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
    text-decoration: underline;
}

.pt_link {
    color: blue;
    text-decoration: underline;
    font-size: 14px;
}